In [25]:
student_scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 90
}

In [26]:
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90}

In [27]:
for student in student_scores:
    print(student)

Alice
Bob
Charlie
David

In [29]:
for student,info in student_scores.items():
    print(student, info)

Alice 85
Bob 92
Charlie 78
David 90

In [30]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [31]:
for i in fruits:
    print(i)

apple
banana
cherry
date
elderberry

In [32]:
products = [("Laptop", 800), ("Phone", 500), ("Tablet", 300)]

In [33]:
for x in products:
    print(x)

('Laptop', 800)
('Phone', 500)
('Tablet', 300)

In [45]:
# Dummy data
class_data = {
    "students": ["Alice", "Bob", "Charlie"],
    "grades": [85, 92, 78],
    "cities": ["Karachi", "Lahore", "Islamabad"]
}

In [46]:
for j in class_data:
    print(j)

students
grades
cities

In [47]:
for l,j in class_data.items():
    print(l,j)

students ['Alice', 'Bob', 'Charlie']
grades [85, 92, 78]
cities ['Karachi', 'Lahore', 'Islamabad']

In [53]:
fruits = {
    "Apple": {"price": 100, "quantity": 50},
    "Banana": {"price": 40, "quantity": 100},
    "Cherry": {"price": 150, "quantity": 30}
}

for fruit, info in fruits.items():
    print(f"{fruit} info:")
    for key, value in info.items():
        print(f"  {key}: {value}")

Apple info:
  price: 100
  quantity: 50
Banana info:
  price: 40
  quantity: 100
Cherry info:
  price: 150
  quantity: 30

In [55]:
for r in range(1,8):
    print(r)

1
2
3
4
5
6
7

In [56]:
for r in range(1,8):
    if r == 3:
        continue
    else:
        print(r)

1
2
4
5
6
7

In [69]:
students = {
    "Alice": {"Math": 90, "English": 85},
    "Bob": {"Math": 70, "English": 88},
    "Charlie": {"Math": 80, "English": 78}
}

for name in students:
    math_score = students[name]["Math"]
    if math_score < 80:
        continue
    print(f"{name} has Math score: {math_score}")

Alice has Math score: 90
Charlie has Math score: 80

In [82]:
students = ["Alice", "Bob", "Charlie"]
subjects = ["Math", "English", "Science"]

In [84]:
for student in students:
    print(student)

Alice
Bob
Charlie

In [87]:
for student in students:
    print(student)
    for subject in subjects:
        print(subject)

Alice
Math
English
Science
Bob
Math
English
Science
Charlie
Math
English
Science

In [90]:
for student in students:
    print(student)
    for subject in subjects:
        print(subject)
    print("-")

Alice
Math
English
Science
-
Bob
Math
English
Science
-
Charlie
Math
English
Science
-

In [92]:
week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']
print(week_days)
print(time_slots)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['9AM-10AM', '10AM-11AM', '11AM-12PM']

In [93]:
for week_day in week_days:
    print(f"Schedule for: {week_day}")
    for slot in time_slots:
        print(f"Class at: {slot}")
    print()

Schedule for: Monday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Tuesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Wednesday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Thursday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

Schedule for: Friday
Class at: 9AM-10AM
Class at: 10AM-11AM
Class at: 11AM-12PM

In [88]:
for student in students:
    print(student)

Alice
Bob
Charlie

In [70]:
for i in range(1,8):
    print('*')

*
*
*
*
*
*
*

In [71]:
for i in range(1,8):
    print('*', end=" ")

* * * * * * *

In [91]:
for i in range(1,8):
    for x in range(1,8):
        print('*',end=" ")
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [107]:
i = 5

while i > 0:
    print('hello world')
    i -= 1

hello world
hello world
hello world
hello world
hello world

In [110]:
names = ["Alice", "Bob", "Charlie", "David"]
i = 0

while len(names) > i:
    print(names[i])
    i += 1

Alice
Bob
Charlie
David

In [116]:
students = ["Alice", "Bob", "Charlie"]
scores = [80, 90, 85]

i = 0
while i < len(students):        # Outer loop: go through each student
    print(f"{students[i]}'s scores:")
    
    j = 0
    while j < len(scores):      # Inner loop: print each score
        print(" ", scores[j])
        j += 1
    
    i += 1

Alice's scores:
  80
  90
  85
Bob's scores:
  80
  90
  85
Charlie's scores:
  80
  90
  85

In [120]:
students = ["Alice", "Bob", "Charlie"]
i = 0
while i < len(students):
    print(f"{students[i]}'s scores:")
    i += 1

Alice's scores:
Bob's scores:
Charlie's scores:

In [122]:
scores = [80, 90, 85]
j = 0
while j < len(scores):
    print(scores[j])
    j += 1

80
90
85

In [124]:
students = ["Alice", "Bob", "Charlie"]
scores = [80, 90, 85]

i = 0
while i < len(students):        # Outer loop: go through each student
    print(f"{students[i]}'s scores:")
    
    j = 0
    while j < len(scores):      # Inner loop: print each score
        print(scores[j])
        j += 1
    i += 1

Alice's scores:
80
90
85
Bob's scores:
80
90
85
Charlie's scores:
80
90
85

### Functions

In [129]:
# Defining a Function
#sytax
def my_func(): #initialize
    print('my first function') #action
    print('congratulation')
    print('great')

my_func() #calling function

my first function
congratulation
great

In [132]:
def add(a,b): #parameters a,b
    print(a+b)

In [133]:
add(1,2)

3

In [134]:
#Default Parameter
def multiply(x,y=2):
    print(x*y)

In [135]:
multiply(3)

6

In [136]:
def welcome(y='Guest'):
    print('Hi',y)

In [137]:
welcome()

Hi Guest

In [138]:
# Positional Argument
def name(first, last):
    print(last,first)

In [139]:
name('ali','khan')

khan ali

In [145]:
def div(u,y):
    print(y/u)

div(2,4)

2.0

In [146]:
def name(first, last):
    print(first,last)

name(last='apple', first='khan')

khan apple

In [147]:
name('james','kamal')

james kamal

In [148]:
def name(first,last):
    print(first,last)

name(last='apple','mango')

SyntaxError: positional argument follows keyword argument (2351712794.py, line 4)

In [149]:
def name(first,last):
    print(first,last)

name('mango',last='apple')

mango apple

In [150]:
def name(first,last):
    print(first,last)

name('mango',first='apple')

TypeError: name() got multiple values for argument 'first'

In [151]:
def name(first='coconut',last):
    print(first,last)

name(last='fruit')

SyntaxError: parameter without a default follows parameter with a default (1176047238.py, line 1)

In [153]:
def name(first, last='fruit'):
    print(first, last)

name(first='coconut')

coconut fruit

In [154]:
# Arbitary number positional arguments
def grocery(*args):
    print(args)

grocery('oil','ghee','sugar','salt')

('oil', 'ghee', 'sugar', 'salt')

In [156]:
# Arbitary number of keyword arguments
def bio(name, age, **kwargs):
    print(name)
    print(age)
    print(kwargs)

bio('ahmed',33,address='Karachi',education='Msc',gender='Male')

ahmed
33
{'address': 'Karachi', 'education': 'Msc', 'gender': 'Male'}

In [157]:
# Arbitary number of keyword arguments
def bio(**kwargs):
    print(**kwargs)

bio(address='Karachi',education='Msc',gender='Male')

TypeError: 'address' is an invalid keyword argument for print()

In [158]:
#Combination of *args and **kwargs
def combo(*args, **kwargs):
    print('positional arguments', args)
    print('keyword arguments', kwargs)

combo('ahmed',22,'clifton',gender='Male',Salary=20000000)

positional arguments ('ahmed', 22, 'clifton')
keyword arguments {'gender': 'Male', 'Salary': 20000000}

In [159]:
def combo(**kwargs,*args):
    print('positional arguments', args)
    print('keyword arguments', kwargs)

combo('ahmed',22,'clifton',gender='Male',Salary=20000000)

SyntaxError: arguments cannot follow var-keyword argument (3391732267.py, line 1)